:root {
    --color-background: 237,241,245;
    --color-foreground: 250,252,252;
    --color-foreground-grey: 245,246,246;
    --color-foreground-grey-dark: 234,236,237;
    --color-foreground-blue: 239,247,251;
    --color-foreground-blue-dark: 241,243,247;
    --color-background-blue-dark: 31,35,45;
    --color-overlay: 41,41,41;
    --color-scroll-bar: 41,41,41;
    --color-shadow: 49,54,68;
    --color-shadow-dark: 6,13,34;
    --color-text: 92,114,138;
    --color-text-light: 110,133,158;
    --color-text-lighter: 146,153,161;
    --color-text-bright: 237,241,245;
    --color-blue: 61,180,242;
    --color-blue-dim: 141,178,219;
    --color-white: 255,255,255;
    --color-red: 232,93,117;
    --color-peach: 250,122,122;
    --color-orange: 247,154,99;
    --color-yellow: 247,191,99;
    --color-green: 93,193,47;
    --color-purple: 158,82,255;
}
style attribute {
    --media-color: hsl(202,57%,89%);
    --media-color-text: hsl(202,57%,25%);
    --media-overlay-text-color: hsl(202,80%,70%);
}
*, :after, :before {
    box-sizing: border-box;
}
body {
    background: rgb(var(--color-background));
    color: rgb(var(--color-text));
    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 1.6rem;
    height: 100%;
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
div{
    display: block;
}

.nav{
    background: #2b2d42;
    color: #fff;
    height: 233px;
    width: 100%;
    padding-top: 40px;
    position: relative;
}

header {
    display: block;
}

.wrap{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin: 0 12vw;
    position: relative;
    z-index: 30;
}

.banner_image{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .5s ease-in-out;
    width: 100%;
    z-index: 10;
}

.logo{
    display: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: normal;
	color: var(--rojo);
    font-family: 'Bebas Neue', cursive;
}

.seasons{
    display: flex;
}

.season {
    color: #bcbedc;
    text-align: center;
    width: 9rem;
}
.season:hover{
    color:#d3d5f3
}
a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
    outline: 0;
}

.season-name{
    font-size: 1.6rem;
    font-weight: 600;
}

.season-year{
    color: #8b8fb6;
    font-size: 1rem;
    font-weight: 400;
}

.charts{
    display: center;
    grid-gap: 12px;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
}
.charts .svg-icon {
    color: #bcbedc;
    transition: color .3s;
}
.svg-icon {
    display: inline-block;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}

.charts .label{
    color: #999ec7;
    font-size: 1.5rem;
    opacity: .9;
}
.charts :where(.label,.svg-icon):hover{
    color: #868bb6;

}

.nav-placement {
    bottom: 0;
    background: linear-gradient(0deg,rgba(var(--color-background),1),70%,rgba(var(--color-background),0));
    display: none;
    grid-gap: 30px;
    grid-template-columns: auto 25px;
    left: -20px;
    position: fixed;
    padding: 50px;
    width: 100%;
    z-index: 100;
    padding-top: 50px;
}
.other, .sseasons{
    color: #c8caef;
    transition: opacity .2s ease;
    position: none;
    width: 100%;
}
.nnav {
    align-content: center;
    background: #2b2d42;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgb(49 54 68 / 5%), 0 5px 20px rgb(49 54 68 / 8%);
    color: #fff;
    display: flex;
    height: 55px;
    justify-content: space-evenly;
}

.link {
    align-items: center;
    display: none;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 1px;
}


.main-content {
    margin-top: -110px;
    position: relative;
    z-index: 60;
    margin-bottom: 300px;
}
.chart-view {
    margin: 0 5vw;
    position: relative;
}
.section{
    margin-bottom: 60px;
    position: relative;
    z-index: 3;
}
section {
    display: block;
}

.section:first-of-type .section-heading {
    color: #fff;
    margin-top: 0;
}

.section-heading {
    display: grid;
    font-size: 2.4rem;
    font-weight: 700;
    grid-column-gap: 50px;
    grid-template-columns: repeat(3,minmax(390px,460px));
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: .1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.card-list{
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    grid-template-columns: repeat(3,minmax(390px,460px));
    grid-template-rows: repeat(auto-fill,265px);
    justify-content: center;
    min-width: 0;
    width: 100%;
}
.media-card{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: rgb(var(--color-foreground));
    border-radius: 3px;
    box-shadow: 0 4px 6px rgb(49 54 68 / 5%), 0 5px 20px rgb(49 54 68 / 8%);
    display: inline-grid;
    grid-template-columns: 185px auto;
    height: 265px;
    min-width: 370px;
    overflow: hidden;
    position: relative;
    text-align: left;
    transition: box-shadow .6s ease;
}

.cover{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 10;
}
.cover .background-color {
    background-color: var(--media-color);
}
.cover .background-color, .cover .media-image {
    position: absolute;
    width: 100%;
    height: 100%;
}
.cover .media-image.loaded{
    opacity: 1;
}
.cover .background-color, .cover .media-image {
    position: absolute;
    width: 100%;
    height: 100%;
}
.cover .media-image {
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity .3s;
}
.cover .background-color, .cover .media-image{
    top: 0;
}

.cover .overlay {
    background: rgba(var(--color-overlay),.9);
    color: rgb(var(--color-text-bright));
    font-size: 1rem;
    padding: 12px;
    position: relative;
    width: 100%;
    font-weight: 600;
}
.cover .overlay::before {
    background: var(--media-color);
    content: "";
    height: 100%;
    left: 0;
    opacity: .05;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.cover .overlay a {
    position: relative;
    z-index: 10;
}
a.title {
    color: rgb(var(--media-color));
}
a.title:hover{
    color: rgb(var(--color-blue));
}
a:hover {
    color: rgb(var(--color-blue));
}
.studio {
    color: var(--media-overlay-text-color);
    font-size: 0.8rem;
    margin-top: 8px;
    position: relative;
    z-index: 10;
}
.data {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 44px;
    min-height: 0;
    min-width: 0;
}

.scroller{
    min-height: 0;
    overflow: hidden;
}

.body {
    display: flex;
    flex-direction: column;
    min-height: 0;
    padding-bottom: 10px;
    position: relative;
}
.body, .external-links-wrap{
    padding: 17px;
}
.body .header{
    display: grid;
    grid-template-columns: auto 60px;
    opacity: 1;
    transition: transform .4s ease-in-out,opacity .25s ease-in-out;
    z-index: 2;
}
.body .header>div{
    min-width: 0;
}
.episode {
    color: rgb(var(--color-text-light));
    font-size: 0.9rem;
    font-weight: 600;
}

.countdown {
    font-size: 1rem;
    font-weight: 600;
    padding-top: 1px;
}
.source {
    display: inline-block;
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.description-wrap {
    color: rgb(var(--color-text-light));
    font-size: 0.7rem;
    line-height: 1.6;
    margin-top: 1px;
    transition: color .2s;
}
.ellipses{
    position: absolute;
}
.hashtag {
    align-items: center;
    display: flex;
    font-weight: 700;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
}
.footer {
    background: rgb(var(--color-foreground-blue));
    display: flex;
    align-items: center;
    padding: 0 17px;
    padding-right: 14px;
}

.archive-view{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
}
.archive-view .year {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 50px;
    transform: translateZ(0);
}
.archive-view .year .seasons {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(4,1fr);
}
.archive-view .year .seasons .season {
    background-color: var(--season-color);
    border-radius: 4px;
    box-shadow: 0 4px 6px rgb(49 54 68 / 5%), 0 5px 20px rgb(49 54 68 / 8%);
    color: rgb(var(--color-white));
    display: block;
    overflow: hidden;
    padding: 14px 18px;
    padding-top: 240px;
    position: relative;
    transition: box-shadow .6s ease,opacity .3s,transform .3s ease-in-out;
}
.archive-view .year .seasons .season::before {
    background: rgba(var(--color-overlay),.65);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
}
.archive-view .year .seasons .season:hover {
    color: rgb(var(--color-white));
    box-shadow: 0 4px 6px rgb(49 54 68 / 20%), 0 10px 40px rgb(49 54 68 / 40%);
    transform: scale(1.05);
}
.season-image.loaded {
    opacity: 1;
}
.season-image {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity .3s;
    width: 100%;
    z-index: 1;
}
.name{
    font-weight: 700;
    font-size: 1.8rem;
    z-index: 5;
    position: relative;
}

.total {
    font-size: 1.4rem;
    opacity: .8;
    z-index: 5;
    position: relative;
}
@media (max-width: 1560px){
    .chart-view{
        margin: 0 1vw;
    }
    .section-heading {
        grid-column-gap: 20px;
    }
    .media-card {
        grid-template-columns: 175px auto;
        min-width: 330px;
        width: 100%;
    }
    .card-list {
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
}
@media (max-width: 1345px){
    .card-list{
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;
    }
    .chart-view {
        margin: 0 10vw;
    }
    .section-heading {
        grid-template-columns: 1fr 0 1fr;
    }
    .wrap {
        margin: 0 5vw;
    }
}
@media (max-width: 1130px){
    .chart-view {
        margin: 0 5vw;
    }
}
@media (max-width: 1050px){
    .chart-view{
        margin: 0 15vw;
    }
    .card-list{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 800px){
    .nav{
        display: none;
    }
    .nav-placement{
        display: grid;
    }
    .other, .sseasons{
        position: absolute;
    }
    .nnav{
        display: flex;
    }
    .nav-wrap {
        position: relative;
    }
    
    .link{
        display: inline-flex;
    }
    .llabel{
        color: rgba(200,202,239,.8);
        font-size: .9rem;
        font-weight: 600;
    }
    .chart-view {
        margin: 0 10px;
        padding-bottom: 80px;
    }
    .main-content {
        margin-top: 0;
        margin-bottom: 0;
    }
    .section {
        margin-bottom: 40px;
    }
    .section:first-of-type .section-heading{
        color: inherit;
    }
    .section-heading {
        grid-template-columns: 1fr 0 0;
        font-size: 2rem;
        margin-bottom: 10px;
        margin-left: 10px;
    }
    .year:first-of-type h2 {
        color: rgb(var(--color-white));
    }
}